.Teachers {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}



.Teachers_block1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.Teachers_block1_leading {
    width: 402px;
    height: 500px;
}


.Teachers_block2 {
    border-radius: 20px;
}

.Teachers_block2_number {
    padding-top: 14px;
    padding-left: 34px;
    margin-right: 44px;
    display: flex;
    justify-content: space-between;
}

.Teachers_block2_text {
    margin-top: 70px;
    margin-left: 13px;
}

.bg {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}





.Teachers_block6 {
    grid-column: 4;
    grid-row: 1 / 3;
}

.Teachers_block6_certificate {
    width: 391px;
    height: 500px;
}